include CHANGES.rst
include .coveragerc
include LICENSE
include Makefile
include MANIFEST.in
include README.rst
include pyproject.toml
include requirements.txt
include test_requirements.txt
include tox.ini
graft src
graft tests
graft example_project
global-exclude *.py[cod] __pycache__
