Django==1.6.8
Markdown==2.5.2
Pillow==2.6.1
django-markitup==2.2.2
django-model-utils==2.2
djorm-ext-core==0.7
djorm-ext-expressions==0.6
djorm-ext-hstore==0.6
djorm-ext-pgarray==0.10
psycopg2==2.5.4
six==1.8.0
sorl-thumbnail==11.12.1b
